.show-more.has-topics {
  position: static;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary;
  // font-weight: 100;
  opacity: 0.50;
}

.latest-topic-list-item .bottom-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.topic-list-item {
  position: relative;
  .main-link:first-of-type {
    padding-left: 4rem;
  }
  .posters {
    &:before {
      content: "";
      display: inline-block;
      height: 20px;
      width: 1px;
    }
    a:first-child {
      position: absolute;
      left: 10px;
    }
  }
}

.topic-list {
  thead {
    position: sticky;
    top: 60px;
    background-color: #fff;
    z-index: 3;
  }
  th {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--primary);
    letter-spacing: 0.035em;
    font-weight: bold;
  }
  td {
    padding: 1rem 0.5rem;
    font-size: 18px;
    color: $primary;
  }
  .num {
    a {
      transition: .3s;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  tbody tr {
    border-bottom: none;
    // transition: background-color 1s;
    // &:hover {
    //   transition: background-color 0.3s;
    //   background-color: var(--secondary);
    // }
  }
  a.title {
    font-weight: 500;
    font-size: 24px;
    font-family: var(--heading-font-family);
    line-height: 28px;
    transition: .3s;
    &:hover {
      color: $tertiary;
    }
  }
  .suggested-topics & thead {
    background-color: transparent;
  }

  .link-bottom-line {
    margin-top: 8px;
  }
  .topic-list-data {
    padding: 20px 8px;
  }
}